* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background: black;
    color: white;
}

section.card-login {
    width: 60%;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

img.logo-card {
    width: 20%;
}

footer {
    background: black;
    color: white;
    text-align: center;
}